In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

#Import API key. 
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df=pd.read_csv("weather_data.cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-02-03 15:38:44,-54.8000,-68.3000,46.02,65,100,19.57
1,1,Fomboni,KM,2022-02-03 15:43:00,-12.2800,43.7425,83.43,75,100,14.83
2,2,Singarayakonda,IN,2022-02-03 15:43:01,15.2500,80.0333,76.03,67,56,13.82
3,3,New Norfolk,AU,2022-02-03 15:43:01,-42.7826,147.0587,51.71,65,5,2.26
4,4,Jyvaskyla,FI,2022-02-03 15:43:02,62.2415,25.7209,7.16,86,0,1.14

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

#2. Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

#3. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer to the heatmap_layer attribute and add in the location using list comprehension.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#5. Add heatmap layer.
fig.add_layer(heat_layer)


#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

#2. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer to the heatmap_layer attribute and add in the location using list comprehension.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

#5. Add heatmap layer.
fig.add_layer(heat_layer)


#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

#2. Get the wind speed.
wind = city_data_df["Wind Speed"]


#3. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer to the heatmap_layer attribute and add in the location using list comprehension.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

#5. Add heatmap layer.
fig.add_layer(heat_layer)


#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Fomboni,KM,2022-02-03 15:43:00,-12.2800,43.7425,83.43,75,100,14.83
2,2,Singarayakonda,IN,2022-02-03 15:43:01,15.2500,80.0333,76.03,67,56,13.82
6,6,Carutapera,BR,2022-02-03 15:43:03,-1.1950,-46.0200,81.10,85,99,7.81
7,7,Atuona,PF,2022-02-03 15:43:03,-9.8000,-139.0333,78.10,77,11,16.58
8,8,Balabac,PH,2022-02-03 15:43:03,7.9868,117.0645,80.62,78,56,11.14
...,...,...,...,...,...,...,...,...,...,...
536,536,Mareeba,AU,2022-02-03 15:57:29,-17.0000,145.4333,77.49,96,100,3.44
543,543,Itarema,BR,2022-02-03 15:57:32,-2.9248,-39.9167,86.59,61,100,15.97
546,546,Port Blair,IN,2022-02-03 15:57:33,11.6667,92.7500,78.84,73,40,5.75
547,547,Grand-Santi,GF,2022-02-03 15:57:34,4.2500,-54.3833,86.83,58,98,4.68
548,548,Magadi,IN,2022-02-03 15:57:34,12.9667,77.2333,77.45,43,74,7.00

In [10]:
preferred_cities_df.count()

City_ID       157
City          157
Country       154
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [11]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Fomboni,KM,2022-02-03 15:43:00,-12.2800,43.7425,83.43,75,100,14.83
2,2,Singarayakonda,IN,2022-02-03 15:43:01,15.2500,80.0333,76.03,67,56,13.82
6,6,Carutapera,BR,2022-02-03 15:43:03,-1.1950,-46.0200,81.10,85,99,7.81
7,7,Atuona,PF,2022-02-03 15:43:03,-9.8000,-139.0333,78.10,77,11,16.58
8,8,Balabac,PH,2022-02-03 15:43:03,7.9868,117.0645,80.62,78,56,11.14
...,...,...,...,...,...,...,...,...,...,...
536,536,Mareeba,AU,2022-02-03 15:57:29,-17.0000,145.4333,77.49,96,100,3.44
543,543,Itarema,BR,2022-02-03 15:57:32,-2.9248,-39.9167,86.59,61,100,15.97
546,546,Port Blair,IN,2022-02-03 15:57:33,11.6667,92.7500,78.84,73,40,5.75
547,547,Grand-Santi,GF,2022-02-03 15:57:34,4.2500,-54.3833,86.83,58,98,4.68
548,548,Magadi,IN,2022-02-03 15:57:34,12.9667,77.2333,77.45,43,74,7.00

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] =""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1             Fomboni      KM     83.43 -12.2800   43.7425
2      Singarayakonda      IN     76.03  15.2500   80.0333
6          Carutapera      BR     81.10  -1.1950  -46.0200
7              Atuona      PF     78.10  -9.8000 -139.0333
8             Balabac      PH     80.62   7.9868  117.0645
10           Araouane      ML     82.80  18.9048   -3.5265
11  Presidente Franco      PY     86.76 -25.5333  -54.6167
12    Bambous Virieux      MU     80.85 -20.3428   57.7575
19            Isangel      VU     78.91 -19.5500  169.2667
20             Olinda      BR     85.73  -8.0089  -34.8553

In [15]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "-12.28	, 43.7425"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -12.2935861, 'lng': 43.7576232},
    'viewport': {'northeast': {'lat': -12.2923676197085,
      'lng': 43.75893878029149},
     'southwest': {'lat': -12.2950655802915, 'lng': 43.7562408197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Auberge les abou',
   'photos': [{'height': 720,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107043000422930804004">Reuben Zadeh</a>'],
     'photo_reference': 'Aap_uEBTo1WrTZG4OoIT8JqR2G2ohueeZ10f_hrCqFsbA4Kz5RB3YxRwnJ7wr9U-xDvPlo4oOpZXEwXUqIrCCrehdU6-QgiGKkla_9s1lNy3d5j6eZm4ZcCNujPuyFqn2XJkC6UFXz3j00UNMRj0iMJ_KAo2P1FvsScUyDrhUNPoMURmOrlo',
     'width': 1280}],
   'place_id': 'ChIJWzoTBLQdohgRt5MKAY45tfQ',
   'plus_code': {'compound_code': 'PQ45+H2 Fomboni, Comoros',
    'global_code': '5HV5PQ45+H2'},
   'rating': 4.1,
   'reference': 'ChIJWzoTBLQdohgRt5MKAY45tfQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 16,
   'vicinity': 'Bandarsalam Moheli'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -12.2870509, 'lng': 43.74301719999999},
    'viewport': {'northeast': {'lat': -12.2856934697085,
      'lng': 43.74415553029149},
     'southwest': {'lat': -12.2883914302915, 'lng': 43.7414575697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Pension Paradis',
   'photos': [{'height': 3000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109033963487087607039">Kamal Ali</a>'],
     'photo_reference': 'Aap_uEAns2T8Q9m0EXSE6vjZLePUQ57iKs6bMJgxdqShtDoLQYh00E74LT6hXSHhx7zZfuJ9npJDcZ1ra_fxmLBZvjXQnlZkp2y4cf0vx5IKb317gzq2eXvSEsj5TdU-MD0qelDdc1-3PxMKt8mhKwhNKPrRTzyVTJ3WECL3ZdZQxPx68nFe',
     'width': 4000}],
   'place_id': 'ChIJXcNSIf4dohgRGykEsfEuJSA',
   'rating': 3,
   'reference': 'ChIJXcNSIf4dohgRGykEsfEuJSA',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': 'PP7V+56C, Fomboni'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -12.275432, 'lng': 43.73657699999999},
    'viewport': {'northeast': {'lat': -12.2741602197085,
      'lng': 43.7378570802915},
     'southwest': {'lat': -12.2768581802915, 'lng': 43.7351591197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Relais Singani',
   'photos': [{'height': 2160,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116136664705421581162">Gunasegeran Sellappan</a>'],
     'photo_reference': 'Aap_uEBtYJF6Q6qQLmXXlQM-0YunapCJEmmPobupm_sd9xI4iDvetmwe96IrTHyYaIo5Knk25K6EbyYI_Js08GC3zNmMRvSRbGajpwhB78Ut1VTyIUcwPqHsXLpdql3fBZgPIMKhpenRr308BSeiHzJqPBOwQXHJw0RinKFd4Iu42mlTIYuU',
     'width': 3840}],
   'place_id': 'ChIJZQvrBkYdohgRr9UEGU7oFcY',
   'rating': 4,
   'reference': 'ChIJZQvrBkYdohgRr9UEGU7oFcY',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 4,
   'vicinity': 'PPFP+RJG, Fomboni'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -12.2873005, 'lng': 43.744986},
    'viewport': {'northeast': {'lat': -12.2857124697085,
      'lng': 43.74646813029149},
     'southwest': {'lat': -12.2884104302915, 'lng': 43.74377016970849}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Pension Aldjazira',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109033963487087607039">Kamal Ali</a>'],
     'photo_reference': 'Aap_uEC-9PSKq2IPE0UJarGyaGUjWC4WW-l0uqYPt7bsyop4YekMQzk_apbLvSiso7IHEU8p31TGSHcsZRdVuGNM78Z-Pg2nD_Pm3RnyGTKFlVJLkFDedR4yb8sYpItOpVfoktseT7p6OePSUX0zxmGfjfenASiJp_FS5kD07m69N2qpFsV-',
     'width': 4000}],
   'place_id': 'ChIJ3aaYtCodohgR1T6cifvkRuw',
   'plus_code': {'compound_code': 'PP7V+3X Fomboni, Comoros',
    'global_code': '5HV5PP7V+3X'},
   'rating': 3,
   'reference': 'ChIJ3aaYtCodohgR1T6cifvkRuw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': 'Unnamed Road, Fomboni'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -12.2913759, 'lng': 43.7429773},
    'viewport': {'northeast': {'lat': -12.2892426, 'lng': 43.7438285},
     'southwest': {'lat': -12.29208700000001, 'lng': 43.74042370000001}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Awa Assurances',
   'place_id': 'ChIJAQAAAFAcohgRVvH79jclE40',
   'rating': 5,
   'reference': 'ChIJAQAAAFAcohgRVvH79jclE40',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': 'PP5V+C5X, Fomboni'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -12.2913759, 'lng': 43.7429773},
    'viewport': {'northeast': {'lat': -12.2892426, 'lng': 43.7438285},
     'southwest': {'lat': -12.29208700000001, 'lng': 43.74042370000001}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Le Relais de Singani hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 900,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114773615835346731086">Idrisse Ali Mirghane</a>'],
     'photo_reference': 'Aap_uEC8tJZY9Cs1pyBgPXAIzYLYUcr3DLmcCiGCaj-s-lJPdf30mLjnJ5Al2OaAMh5nKMsB9XgVSnbgB2mxDWhzDS00yrYZh2T63rMM0EJpi7DEDcNmz388gsDflGQz1ruyfgQjJmU7WrfJlM-nIGwS8dPx0SxluUk-Zd_T7zFGH0Fv9ec',
     'width': 900}],
   'place_id': 'ChIJAQAAAFAcohgRJQUfBCdI6Fo',
   'rating': 4.1,
   'reference': 'ChIJAQAAAFAcohgRJQUfBCdI6Fo',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 7,
   'vicinity': 'PP5V+C5X, Fomboni'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -12.2727113, 'lng': 43.7283257},
    'viewport': {'northeast': {'lat': -12.2718253, 'lng': 43.7291716302915},
     'southwest': {'lat': -12.2753693, 'lng': 43.7264736697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'La Plage Guesthouse',
   'photos': [{'height': 384,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113105855244877424073">pa pa</a>'],
     'photo_reference': 'Aap_uEDk4pjfx2R1ltIoexXuz3loVUY6YwqcfExirFaIjmX4PzQHZiAsfk9eQiOjlS2DI-aPspTIqIVb8k2DRdzB3XoU2UmgeHA6mtn0cuvQLwn1kJQ2wMVhDJI2AIIo3bKjMoYKUVse2r5p8IhYGuJ9P9W5PhJjjw-6ZwSZ6pTdX3A60YSv',
     'width': 512}],
   'place_id': 'ChIJWSc5yyEdohgRXgUduFxC5b8',
   'plus_code': {'compound_code': 'PPGH+W8 Fomboni, Comoros',
    'global_code': '5HV5PPGH+W8'},
   'rating': 4,
   'reference': 'ChIJWSc5yyEdohgRXgUduFxC5b8',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 4,
   'vicinity': 'Colas, Fomboni'}],
 'status': 'OK'}

In [14]:
hotels = []
for i in range(len(hotel_df)):
    lat=hotel_df.iloc[i]['Lat']
    lng=hotel_df.iloc[i]['Lng']
    params = {
        "location":f'{lat},{lng}',
        "radius":5000,
        "types":"lodging",
        "key":g_key
    }
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response =  requests.get(url,params=params).json()
    try:
        hotels.append(response['results'][0]['name'])
    except:
        hotels.append("")
hotel_df["Hotel Name"]=hotels
hotels

['Auberge les abou',
 'Sri Nrk A/C Lodge',
 'Lidera',
 'Villa Enata',
 'Batalla’s Lodging House',
 '',
 'Hotel Dan Inn Express Foz do Iguaçu.',
 'Casa Tia Villa',
 'Tanna Lodge',
 'Hotel Albergue de Olinda',
 'People ThankYou',
 'INN NEW HORIZON',
 'Pousada Porto Praia',
 'Cititel Penang',
 'Barravento Hotel',
 'Hotel Villa Kitzia Huacho',
 'Hotel Castelo',
 'The Esplanade Hotel (Accommodation section closed for refurbishment - Bar, Restaurant & Functions remain open)',
 'Nuevo Hotel Plaza',
 'Paradise Inn',
 '',
 'Casa Dora, Bubaque',
 'فندق راحة السلام',
 'Black Marlin Restaurant & Hospedaje',
 'Isles Sunset Lodge',
 'Finch Bay Galapagos Hotel',
 'Sylvia Hotel',
 'Guest Hotel',
 'Hotel Provincial',
 'Hospedaje Costa Bella',
 'Scoop Guest House',
 'Hotel Kou-Bugny',
 'Hospitality Carnarvon',
 'Gran Hotel Mar del Plata',
 'Quality Suites Vila Velha',
 'Guest House Epervier',
 'janelas do mar',
 'HOTEL MARTINS',
 'FELIPA LAODENIO PROPERTY',
 'HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel',
 'Dhidhoo beach',
 'Euronova Freezer',
 'Raybow International Hotel',
 'Amerian Catamarca Park Hotel',
 'Imagination Island',
 'Vahmoneh Lodge Vanimo',
 'Résidence Okanda',
 'HS Hotsson Smart Acapulco',
 'Sibeko Resident',
 'Hotels in Lakshadweep Islands',
 'The Espiritu Hotel',
 'Hotel Syariah CN Darussalam',
 'Grage Hotel Bengkulu',
 'Hotel Miramar',
 'Eware Refugio Amazonico',
 'Hotel Maria',
 'Hotel Serra da Chela',
 'Ballistic Islet',
 'Hotel Chik Chik Namibe',
 'Nusa Island Retreat',
 'Dibbo areaمنطقة دبو',
 'Millennia Estate',
 '',
 'Radisson Grenada Beach Resort',
 'Groote Eylandt Lodge',
 '',
 'Le Gîte d’Iracoubo',
 'Red Sea Hotel',
 'Shanti Maurice Resort & Spa',
 'La Ode Husein',
 '',
 'Reserva do Abiaí',
 'Pousada Monte Carmelo O Pão',
 '',
 'Hotel Por do Sol',
 'Gran Hotel Bolivar Lima',
 'Veranda Paul et Virginie Hotel & Spa',
 'ABBA Guesthouse',
 '',
 'Hotel Citra',
 'Atlantis Hotel',
 '',
 'Shandrani Beachcomber Resort & Spa',
 'Pousada da Josefa',
 'The Bannister - Hotel & Yacht Club',
 'Atlântic Hotel',
 'Hosteria Sampedro',
 'Divi Village Golf & Beach Resort',
 'ALETHEIA Appartement Sinnamary',
 'El rranchito michuacan de ocampos',
 'Hotel Taskin Macia',
 'Pondok Wisata Elim',
 'Melrose',
 'Jaypriya Residency',
 'Planalto Hotel',
 'Chambres d\'hôte "La Trinité"',
 'Nuli Sapi',
 'CeBlue Villas & Beach Resort',
 'Le Refuge',
 'Apartamentos Castelli 90',
 'Mega Hotel, Miri',
 'IBCO REAL ESTATE PROPERTY',
 'Floresta Amazonica Hotel',
 'Bora-Bora Pearl Beach Resort & Spa',
 '',
 'Hotel California',
 'Aipana Plaza Hotel',
 'Bon Abri maldives',
 '',
 'Hotel Kununurra',
 'Pousada dos Navegantes',
 'Pousada Porto De Canoas',
 'Hôtel & Restaurant DIANA Ambilobe',
 'OYO 73247 Cgr Manjeera',
 'Hotel Vivendas Rio Claro by Atlantica',
 'Seagulls Inn Namatani',
 'Sulthan Hotel International',
 'La Caz Oceane',
 'Bungalow 63',
 'Halane Hotel and Restaurent',
 'Djegba Hotel',
 'Penginapan Kim',
 'Casa da Oscarina',
 'Hotel Kalukembe',
 'Taloa Heights',
 'Aldea del Bazar Hotel and Spa',
 'Latitude20 Roebourne Village',
 'Villa Park Hotel | Natal',
 'Mystic Sands Beachfront Accommodation',
 'Hotel Vitasoa',
 'Government Lodge',
 '',
 'Storyboard Beach Resort',
 '',
 'Hilton Durban',
 'Oyster Box Guesthouse',
 'Casa do Kiwliks',
 'Oceano',
 'Mercure Padang',
 'Hotel Ambulu Jember',
 'ฟาร์มแพะ หนองผักหนาม',
 'Beatty Lodge',
 'Hospedaje Señor de Sicán',
 'Hotel Cuibas',
 '',
 'Grand Palladium Jamaica Resort & Spa',
 'Leumerus Bungalows',
 'La Tahzan Guest House',
 'Maringe Lagoon Lodge',
 'Blendana Hotel Assosa',
 'Sunimit Mansion',
 'Screensaver',
 'Trinity Plains Tourist Park',
 'Sea Lounge! Bar, Club & Restaurant',
 'Welcomhotel By ITC Hotels, Bay Island, Port Blair',
 'Hotel La Villa Couacou',
 'Sri Balaji Delux Lodge - Magadi']

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": g_key
}

hotels=[]    
# Iterate through the DataFrame.
for i in range(len(hotel_df)):
    
    lat=hotel_df.iloc[i]['Lat']     
    lng=hotel_df.iloc[i]['Lng']   
    
    params = {
        "location":f'{lat},{lng}',
        "radius":5000,
        "types":"hotel",               
        "key":g_key
    }
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response =  requests.get(url,params=params).json()
    try:
        hotels.append(response['results'][0]['name'])
    except:
        hotels.append("")
hotel_df["Hotel Name"]=hotels
hotel_df

               City Country  Max Temp      Lat       Lng   Hotel Name
1           Fomboni      KM     83.43 -12.2800   43.7425      Fomboni
2    Singarayakonda      IN     76.03  15.2500   80.0333       Pakala
6        Carutapera      BR     81.10  -1.1950  -46.0200   Carutapera
7            Atuona      PF     78.10  -9.8000 -139.0333       Atuona
8           Balabac      PH     80.62   7.9868  117.0645      Balabac
..              ...     ...       ...      ...       ...          ...
536         Mareeba      AU     77.49 -17.0000  145.4333      Mareeba
543         Itarema      BR     86.59  -2.9248  -39.9167      Itarema
546      Port Blair      IN     78.84  11.6667   92.7500   Port Blair
547     Grand-Santi      GF     86.83   4.2500  -54.3833  Grand-Santi
548          Magadi      IN     77.45  12.9667   77.2333       Magadi

[157 rows x 6 columns]

In [26]:
hotels = []
for i in range(len(hotel_df)):
    lat=hotel_df.iloc[i]['Lat']     
    lng=hotel_df.iloc[i]['Lng']     
    params = {
        "location":f'{lat},{lng}',
        "radius":5000,
        "types":"hotel",               
        "key":g_key
    }
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response =  requests.get(url,params=params).json()
    try:
        hotels.append(response['results'][0]['name'])
    except:
        hotels.append("")
hotel_df["Hotel Name"]=hotels
hotel_df.head()

             City Country  Max Temp      Lat       Lng  Hotel Name
1         Fomboni      KM     83.43 -12.2800   43.7425     Fomboni
2  Singarayakonda      IN     76.03  15.2500   80.0333      Pakala
6      Carutapera      BR     81.10  -1.1950  -46.0200  Carutapera
7          Atuona      PF     78.10  -9.8000 -139.0333      Atuona
8         Balabac      PH     80.62   7.9868  117.0645     Balabac

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [28]:
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng        Hotel Name
1             Fomboni      KM     83.43 -12.2800   43.7425           Fomboni
2      Singarayakonda      IN     76.03  15.2500   80.0333            Pakala
6          Carutapera      BR     81.10  -1.1950  -46.0200        Carutapera
7              Atuona      PF     78.10  -9.8000 -139.0333            Atuona
8             Balabac      PH     80.62   7.9868  117.0645           Balabac
10           Araouane      ML     82.80  18.9048   -3.5265          Araouane
11  Presidente Franco      PY     86.76 -25.5333  -54.6167   Ciudad del Este
12    Bambous Virieux      MU     80.85 -20.3428   57.7575  Vieux Grand Port
19            Isangel      VU     78.91 -19.5500  169.2667           Isangel
20             Olinda      BR     85.73  -8.0089  -34.8553            Olinda

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))